body {
    font-family: arial, sans-serif;
}

.align-right {
    text-align: right;
    margin: 0;
    padding: 0;
}

#Navbar {
    display: inline;
    font-size: 12;
}

#Google-Logo {
    margin-top: 50px;
    margin-bottom: 10px;
}

#search-bar {
    margin-bottom: 10px;
    width: 500px;
    height: 150%;
}

.center {
    display: block;
    margin: 0 auto;
}

#container {
    text-align: center;
}

#language-select {
    text-align: center;
    font-size: 10pt;
}

#footer-bar {
    font-size: 12pt;
    background-color: rgb(228, 228, 228);
}

#footer-bar-left {
    display: inline;
    text-align: left;
}

#footer-bar-right {
    display: inline;
    text-align: right;
}

#footer {

}