body {
    font-family: arial, sans-serif;
    font-size: small;
    margin: 0; /* Will this help centering? */
}

nav {
    height: 50px;
    display: flex; /* Nav (header, footer) items inline */
    align-items: center; /* Align is vertical */
}

nav div {
    width: 100%;
    display: flex;
}

.nav-left {
    justify-content: start;
}

.nav-right {
    justify-content: flex-end;
}

nav div a {
    padding: 5px; /* Pads around each header/footer link */
    text-decoration: none; /* Removes underline from hyperlinks */
    color: #3b3b3b;
    white-space: nowrap;
}